* { margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, i, p, a, ul { margin: 0px; padding: 0px; }
header { padding: 30px 0px; }
.logo { width: 80%; margin: auto; display: flex; justify-content: space-between; align-items: center; }
.logo img { }
.logo h6 { font-family: Roboto, sans-serif; color: rgb(151, 153, 155); font-size: 13pt; }
.banner { background-color: rgb(68, 133, 133); background-image: url("/image/banner.jpg"); background-repeat: no-repeat; background-size: cover; }

.blur{
    padding: 292px 0px;
    backdrop-filter: blur(2px);
    background-color: #ff3e3a8f;
}

.banner h1 { font-size: 40px; text-align: center; color: white; font-family: Roboto, sans-serif; margin-bottom: 30px; }
.banner h5 { text-align: center; font-size: 20px; color: white; font-family: Roboto, sans-serif; font-weight: 400; margin-bottom: 50px; }
.banner .button { text-align: center; }
.banner .button button { padding: 18px 51px; background-color: rgb(251, 110, 82); border-color: white; color: white; border-radius: 9px; font-family: Roboto, sans-serif; }
.intro { }
.intro-section { width: 70%; margin: auto; display: flex; justify-content: space-between; padding: 60px 0px; }
.left-i { width: 30%; }
.middle-i { width: 30%; }
.right-i { width: 30%; }
.intro-section img {margin-left: 105px;margin-bottom: 20px;}
.intro-section h1 { font-family: Roboto, sans-serif; color: rgb(41, 44, 52); text-align: center; margin-bottom: 16px; }
.intro-section p { font-family: Roboto, sans-serif; color: rgb(151, 153, 155); text-align: center; }
article {color: rgb(251, 110, 82);font-family: Roboto, sans-serif;text-align: center;font-size: 31px;padding-bottom: 60px;}
.feature .intro-section .left-i img { margin: 0px 0px 30px; width: 100%; height: 245px; }
.feature .intro-section .middle-i img { margin: 0px 0px 30px; width: 100%; height: 245px; }
.feature .intro-section .right-i img { margin: 0px 0px 30px; width: 100%; height: 245px; }
.blog { background-color: rgb(249, 249, 249); padding: 60px 0px; }
.blog h1 { text-align: center; font-size: 36px; font-family: Roboto, sans-serif; color: rgb(41, 44, 52); margin-bottom: 60px; }
.blog-section { width: 70%; margin: auto; display: flex; justify-content: space-between; }
.blog-1 { width: 45%; }
.blog-2 { width: 45%; }
.blog-section img { width: 100%; margin-bottom: 30px; }
.blog-section h2 { color: rgb(251, 110, 82); font-family: Roboto, sans-serif; margin-bottom: 30px; }
.blog-section p { font-family: Roboto, sans-serif; color: rgb(151, 153, 155); }
footer { background-color: rgb(41, 44, 52); }
.footer-section { width: 70%; margin: auto; display: flex; justify-content: space-between; align-items: center; padding: 25px 0px; }
.left-footer { display: flex; align-items: center; }
.left-footer img { margin-right: 20px; }
.left-footer h4 { color: rgb(121, 124, 130); font-family: Roboto, sans-serif; }
.right-footer { display: flex; }
.right-footer li { list-style: none; margin-left: 40px; }
.right-footer li a { color: white; }
